@tailwind base;
@tailwind components;
@tailwind utilities;

&::-webkit-scrollbar {
    width: 1rem;
    padding-right: 0.25rem;
    background: transparent;
}

&::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: #BB71D2;
}

.hero-card {
    perspective: 500px;
}

.text-gradient {
    -webkit-text-fill-color: transparent;
}

.card-double-separate {
    transform-box: fill-box;
    transform: translate3d(0, -40px, 0);
}

.card-double {
    transform-box: fill-box;
    fill-opacity: 0.15;
}

@keyframes move-line-letter {
    0% {
        stroke-width: 0;
        stroke-dasharray: 0 400;
        stroke-opacity: 0;
    }

    60%,
    100% {
        stroke-width: 4;
        stroke-dasharray: 400 0;
        stroke-opacity: 1;
    }
}

@keyframes change-card {
    0%,
    49% {
        background-image: url("/assets/card-front.svg");
        background-size: cover;
    }

    50%,
    100% {
        background-image: url("/assets/card-back-inverted.svg");
        background-size: cover;
    }
}
